<div id="evolution-form-block">
  <button id="get-new-evolution">ЭВОЛЮЦИОНИРОВАТЬ</button>
</div>

<div id="life-player-block">
  <button id="play-evolution">Запуск</button>
  <button id="pause-evolution">Пауза</button>
  <button id="stop-evolution">Стоп</button>
</div>

<div id="table-block">
  <table id="field-table" class="field">
    <% @field.cells.each_with_index do |row, i| %>
      <tr>
        <% row.each_with_index do |cell, j| %>
          <td data-cell="<%= %Q(#{i} #{j}) %>"></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div id="info-block">
  <div id="evolution-step">
    Шаг эволюции:
    <span class="content">0</span>
  </div>
  <div id="colony-number">
    Номер колонии в текущей популяции:
    <span class="content">0</span>
  </div>
  <div id="time-moment">
    Цикл жизни колонии:
    <span class="content">0</span>
  </div>
  <div id="population-container">
    <div>Популяция:</div>
    <% 5.times do |n| %>
      <div id="colony-<%= n %>-block" class="colony-block">
        <div>Имя: <span class="colony-name"></span></div>
        <div>Номер: <span class="colony-number"></span></div>
        <table id="colony-<%= n %>-table" class="field">
          <% @colony.cells.each_with_index do |row, i| %>
            <tr>
              <% row.each_with_index do |cell, j| %>
                <td data-cell="<%= %Q(#{i} #{j}) %>"></td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <div>Набрано очков: <span class="task-points"></span></div>
        <div>Повлиявшие клетки: <span class="task-parents"></span></div>
      </div>
    <% end %>
  </div>
</div>
