.block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#evolution-form-block {
  float: left;
  width: 40%;
}

#evolution-form-block .field {
  width: 100%;
}

#evolution-form-block input {
  width: 50px;
}

#evolution-form-block #evolution_main_name {
  width: 200px;
}

#evolution-form-block input[type="submit"] {
  width: 250px;
}

#life-player-block {
  float: left;
  width: 20%;
}

#life-table table {
  border: 2px solid black;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

#life-cycle {
  margin-bottom: 20px;
}

.colony-block table {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.table-wrapper table td {
  width: 8px;
  height: 8px;
  text-align: center;
}

#evolution-block {
  width: 100%;
}

#evolution-block caption {
  font-size: 24pt;
  font-weight: bold;
}

#evolution-block th {
  font-size: 16pt;
}
