table#field-table {
  border: 2px solid black;
  margin: 50px;
}

#population-container table {
  border: 1px solid gray;
}

#population-container .colony-block {
  float: left;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

table.field td {
  width: 8px;
  height: 8px;
  text-align: center;
}
