table.field {
  border: 2px solid black;
  margin: 10px;
}

#population-container table {
  border: 1px solid gray;
  float: left;
}

table.field td {
  width: 8px;
  height: 8px;
  text-align: center;
}
