.block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#evolution-form-block {
  margin: 10px;
  float: left;
}

#evolution-form-block input[type="submit"] {
  width: 100%;
}

#life-player-block {
  float: right;
  width: 20%;
  margin-right: 40%;
}

#life-table table {
  border: 2px solid black;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

#life-cycle {
  margin-bottom: 20px;
}

.population-block {
  margin-left: auto;
  margin-right: auto;
}

.population-block .colony-block table {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
}

.population-block .colony-block {
  float: left;
  width: 20%;
  text-align: center;
}

.clear {
  clear: both;
}

.table-wrapper table td {
  width: 8px;
  height: 8px;
  text-align: center;
}
